@import 'toolkit/utils';
@import 'toolkit/sanitize';
@import 'toolkit/flavors';
@import 'toolkit/breakpoints';
@import 'toolkit/colors';
@import 'toolkit/fonts';
@import 'toolkit/typography';

@mixin pickle(
    $breakpoints: false,
    $colors: (),
    $fonts: (),
    $sizes: (),
    $lineHeights: (),
    $vars: ()
) {
    @if variable-exists(pickle-colors) and type-of($pickle-colors) == 'map' {
        $pickle-colors: map-merge($pickle-colors, $colors) !global;
    } @else {
        $pickle-colors: $colors !global;
    }

    @if variable-exists(pickle-vars) and type-of($pickle-vars) == 'map' {
        $pickle-vars: map-merge($pickle-vars, $vars) !global;
    } @else {
        $pickle-vars: $vars !global;
    }

    @if variable-exists(pickle-fonts) and type-of($pickle-fonts) == 'map' {
        $pickle-fonts: map-merge($pickle-fonts, $fonts) !global;
    } @else {
        $pickle-fonts: $fonts !global;
    }

    @if variable-exists(pickle-sizes) and type-of($pickle-sizes) == 'map' {
        $pickle-sizes: map-merge($pickle-sizes, $sizes) !global;
    } @else {
        $pickle-sizes: $sizes !global;
    }

    @if variable-exists(pickle-lineHeights) and
        type-of($pickle-lineHeights) ==
        'map'
    {
        $pickle-lineHeights: map-merge(
            $pickle-lineHeights,
            $lineHeights
        ) !global;
    } @else {
        $pickle-lineHeights: $lineHeights !global;
    }

    @if variable-exists(pickle-breakpoints) and
        type-of($pickle-breakpoints) ==
        'map'
    {
        @if $breakpoints {
            $pickle-breakpoints: map-merge(
                $pickle-breakpoints,
                $breakpoints
            ) !global;
        }
    } @else {
        @if $breakpoints {
            $pickle-breakpoints: $breakpoints !global;
        } @else {
            $pickle-breakpoints: (
                'old-mobile-only': (
                    max-width: 319.99px,
                ),
                'mobile-landscape-only': (
                    max-height: 500px,
                ),
                'mobile-up': (
                    min-width: 320px,
                ),
                'mobile-landscape-up': (
                    min-width: 568px,
                ),
                'tablet-portrait-up': (
                    min-width: 768px,
                ),
                'tablet-up': (
                    min-width: 1024px,
                ),
                'laptop-up': (
                    min-width: 1366px,
                ),
                'desktop-up': (
                    min-width: 1680px,
                ),
            ) !global;
        }
    }
}

@mixin pickle-styles($sanitize: true, $flavors: true, $fonts: true) {
    @if $sanitize {
        @include _pickle-sanitize;
    }
    @if $flavors {
        @include _pickle-flavors;
    }
    @if $fonts {
        @include _pickle-fonts;
    }
}
