/* ===============
  🥒 Pickle.scss
=============== */

@import '../node_modules/sanitize.css/sanitize.css';

$pickle-wires: null;
$pickle-colors: null;
$pickle-fonts: null;
$pickle-sizes: null;
$pickle-vars: null;
$pickle-grid: null;
$pickle-breakpoints: null;

@import 'toolkit/utils';
@import 'toolkit/grid';
@import 'toolkit/breakpoints';
@import 'toolkit/colors';
@import 'toolkit/fonts';
@import 'toolkit/typography';

@mixin pickle(
    $wires: false,
    $grid: (),
    $breakpoints: (),
    $colors: (),
    $fonts: (),
    $sizes: (),
    $vars: ()
) {
    $pickle-wires: $wires !global;
    $pickle-colors: $colors !global;
    $pickle-fonts: $fonts !global;
    $pickle-sizes: $sizes !global;
    $pickle-vars: $vars !global;

    $pickle-grid:_pickle-extend(
        (gutter: 3, layout-direction: LTR, max-width: 1440px),
        $grid
    ) !global;
    
    $pickle-breakpoints:_pickle-extend((
        'phone-only': (max-width: 599px),
        'tablet-portrait-up': (min-width: 600px),
        'tablet-up': (min-width: 900px),
        'desktop-up': (min-width: 1200px),
        'big-desktop-up': (min-width: 1800px)
    ), $breakpoints) !global;

    @include _pickle-grid;
    @include _pickle-fonts;
}