@mixin _pickle-flavors {
    @if not _pickle-already-injected('pickle-flavors') {
        @at-root {
            /* ===============
            🥒 Pickle.scss | github.com/maoosi/pickle.scss
            =============== */

            /* Page
            * ========================================================================== */

            html,
            body {
                overflow-x: hidden;
                font-size: 100%;
            }

            /* Headings
            * ========================================================================== */

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                padding: 0;
                margin: 0;
                font: inherit;
                font-size: 100%;
                vertical-align: baseline;
                border: 0;
            }
        }
    }
}
