@mixin pickle-typo($font, $size) {
    @if not map-has-key($pickle-fonts, $font) {
        @include _pickle-error('No font found with name `#{$font}`');
    }
    @if not map-has-key($pickle-sizes, $size) {
        @include _pickle-error('No size found with name `#{$size}`');
    }

    $font: map-get($pickle-fonts, $font);
    $size: map-get($pickle-sizes, $size);

    @if not map-has-key($font, family) {
        @include _pickle-error('`family` parameter missing from font `#{$font}`');
    }
    @if not map-has-key($size, base) {
        @include _pickle-error('`base` parameter missing from size `#{$size}`');
    }

    $ratio: map-get($font, ratio);
    @if not $ratio {
        $ratio: 1;
    }

    $family: map-get($font, family);
    $size-base: map-get($size, base);
    $size-breakpoints: map-get($size, breakpoints);

    font-family: $family;
    font-size: $size-base * $ratio;

    @if $size-breakpoints {
        @each $breakpoint, $font-size in $size-breakpoints {
            @include pickle-respond($breakpoint) {
                font-size: $font-size * $ratio;
            }
        }
    }
};
