@mixin pickle-typo($font: null, $size: null, $line-height: null) {
    @if $font == null and $size == null {
        @include _pickle-error('Missing `$font` and/or `$size` parameters');
    }
    @if $font != null and not map-has-key($pickle-fonts, $font) {
        @include _pickle-error('No font found with name `#{$font}`');
    }
    @if $size != null and not map-has-key($pickle-sizes, $size) {
        @include _pickle-error('No size found with name `#{$size}`');
    }
    @if $line-height !=
        null and not
        map-has-key($pickle-line-heights, $line-height)
    {
        @include _pickle-error(
            'No line-height found with name `#{$line-height}`'
        );
    }

    $font: map-get($pickle-fonts, $font);
    $size: map-get($pickle-sizes, $size);
    $line-height: map-get($pickle-line-heights, $line-height);
    $ratio: false;
    $textcrop: false;

    @if $font != null {
        @if not map-has-key($font, family) {
            @include _pickle-error(
                '`family` parameter missing from font `#{$font}`'
            );
        }
        @if not map-has-key($font, suffix) {
            font-family: map-get($font, family);
        } @else {
            font-family: map-get($font, family), map-get($font, suffix);
        }
        $ratio: map-get($font, ratio);
        $textcrop: map-get($font, textcrop);
    }

    @if not $ratio {
        $ratio: 1;
    }

    @if $size != null {
        @if $size != null and not map-has-key($size, base) {
            @include _pickle-error(
                '`base` parameter missing from size `#{$size}`'
            );
        }

        $size-base: map-get($size, base);
        $size-breakpoints: map-get($size, breakpoints);

        font-size: $size-base * $ratio;

        @if $size-breakpoints {
            @each $breakpoint, $font-size in $size-breakpoints {
                @include pickle-respond($breakpoint) {
                    font-size: $font-size * $ratio;
                }
            }
        }
    }

    @if $font != null and $textcrop != null {
        @if $line-height != null and not map-has-key($line-height, base) {
            @include _pickle-error(
                '`base` parameter missing from line-height `#{$line-height}`'
            );
        }

        @if $line-height != null {
            $line-height-base: map-get($line-height, base);
            $line-height-breakpoints: map-get($line-height, breakpoints);

            @if $line-height-breakpoints {
                @each $breakpoint, $font-line-height in $line-height-breakpoints
                {
                    @include pickle-respond($breakpoint) {
                        @include _pickle-text-crop(
                            $text-crop: $textcrop,
                            $line-height: $font-line-height,
                            $top-adjustment: 0,
                            $bottom-adjustment: 0px
                        );
                    }
                }
            } @else {
                @include _pickle-text-crop(
                    $text-crop: $textcrop,
                    $line-height: $line-height-base,
                    $top-adjustment: 0,
                    $bottom-adjustment: 0px
                );
            }
        } @else {
            @include _pickle-text-crop(
                $text-crop: $textcrop,
                $line-height: 1.2,
                $top-adjustment: 0,
                $bottom-adjustment: 0px
            );
        }
    }
}
