@mixin pickle-typo($font: null, $size: null, $lineHeight: null) {

    @if $font == null and $size == null {
        @include _pickle-error('Missing `$font` and/or `$size` parameters');
    }
    @if $font != null and not map-has-key($pickle-fonts, $font) {
        @include _pickle-error('No font found with name `#{$font}`');
    }
    @if $size != null and not map-has-key($pickle-sizes, $size) {
        @include _pickle-error('No size found with name `#{$size}`');
    }
    @if $lineHeight != null and not map-has-key($pickle-lineHeights, $lineHeight) {
        @include _pickle-error('No lineHeight found with name `#{$lineHeight}`');
    }

    $font: map-get($pickle-fonts, $font);
    $size: map-get($pickle-sizes, $size);
    $lineHeight: map-get($pickle-lineHeights, $lineHeight);
    $ratio: false;
    $textCrop: false;

    @if $font != null {
        @if not map-has-key($font, family) {
            @include _pickle-error('`family` parameter missing from font `#{$font}`');
        }
        @if not map-has-key($font, suffix) {
            font-family: map-get($font, family);
        } @else {
            font-family: map-get($font, family), map-get($font, suffix);
        }
        $ratio: map-get($font, ratio);
        $textCrop: map-get($font, textCrop);
    }

    @if not $ratio {
        $ratio: 1;
    }

    @if $size != null {
        @if $size != null and not map-has-key($size, base) {
            @include _pickle-error('`base` parameter missing from size `#{$size}`');
        }

        $size-base: map-get($size, base);
        $size-breakpoints: map-get($size, breakpoints);

        font-size: $size-base * $ratio;

        @if $size-breakpoints {
            @each $breakpoint, $font-size in $size-breakpoints {
                @include pickle-respond($breakpoint) {
                    font-size: $font-size * $ratio;
                }
            }
        }
    }

    @if $font != null and $textCrop != null {
        @if $lineHeight != null and not map-has-key($lineHeight, base) {
            @include _pickle-error('`base` parameter missing from lineHeight `#{$lineHeight}`');
        }
        
        @if $lineHeight != null {
            $lineHeight-base: map-get($lineHeight, base);
            $lineHeight-breakpoints: map-get($lineHeight, breakpoints);

            @if $lineHeight-breakpoints {
                @each $breakpoint, $font-lineHeight in $lineHeight-breakpoints {
                    @include pickle-respond($breakpoint) {
                        @include _pickle-text-crop(
                            $text-crop: $textCrop,
                            $line-height: $font-lineHeight,
                            $top-adjustment: 0px,
                            $bottom-adjustment: 0px
                        );
                    }
                }
            }
        } @else {
            @include _pickle-text-crop(
                $text-crop: $textCrop,
                $line-height: 1.2,
                $top-adjustment: 0px,
                $bottom-adjustment: 0px
            );
        }
    }
    
};
