@function _pickle-extend($obj, $ext-obj) {
    @return map-merge($obj, $ext-obj);
}

@mixin _pickle-error($error) {
    @error '[Pickle.scss] #{$error}. Please check https://github.com/kuizto/pickle.scss';
}

@function _pickle-str-split($string, $separator) {
    $split-arr: ();
    $index: str-index($string, $separator);

    @while $index !=null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $string: str-slice($string, $index + 1);
        $index: str-index($string, $separator);
    }

    $split-arr: append($split-arr, $string);

    @return $split-arr;
}

$_pickle-injected: ();
@function _pickle-already-injected($name) {
    @if index($_pickle-injected, $name) {
        @return true;
    }
    $_pickle-injected: append($_pickle-injected, $name) !global;
    @return false;
}
